body {
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensures the navbar stays on top */
    border-top: 4px solid #0e6749;
    height: 10vh;
}

.hero {
    border-bottom: 2px solid black;
    height: 90vh;
    width: 100vw;
}

/* Listings */

.listings, agents {
    background: #ffffff;
    padding-left: 10vw;
    padding-right: 10vw;
    border-bottom: 2px solid black;
}

.listingsheader {
    font-size: 60px;
}

.listing {
    height: 15vw;
    width: 10vw;
    background-color: #0e6749;
}