body {
  overflow-x: hidden;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensures the navbar stays on top */
  border-top: 4px solid #0e6749;
  height: 10vh;
}

.navlogo {
  height: 9vh;
  width: 10vh;
}

.hero {
  border-bottom: 2px solid black;
  height: 90vh;
  width: 100vw;
}

/* Default state - element is hidden */
.fade-in {
  opacity: 0;
  transform: translateY(-30px); /* Start above the original position */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Animate both opacity and vertical movement */
}

/* Active state - element fades in and drops down */
.fade-in.visible {
  opacity: 1;
  transform: translateY(0); /* Element returns to its original position */
}

/* Listings */

.listings {
  background: transparent;
  padding-left: 10vw;
  padding-right: 10vw;
}

.listingsheader {
  font-size: 60px;
}

.listing {
  height: 15vw;
  width: 10vw;
  background-color: #0e6749;
  background-image: url("https://picsum.photos/200/300");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Agents */

.agents {
  background: #ffffff;
  padding-left: 10vw;
  padding-right: 10vw;
}

.agentsheader {
  font-size: 60px;
}

:root {
  --red: #0e6749;
  --bgColor: bisque;
}

.framed {
  height: 38vh;
  box-shadow: -50px -50px 0 -40px var(--red), 50px 50px 0 -40px var(--red);
  border: 2px solid #b7cfc7;
}

.boxshadowborder {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
